[project]
	description = Takes a picture for every git commit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuri Fedoseev (yurifedoseev)
[access "refs/for/refs/*"]
	read = group user/Yuri Fedoseev (yurifedoseev)
	push = group user/Yuri Fedoseev (yurifedoseev)
	label-Code-Review = -2..+2 group user/Yuri Fedoseev (yurifedoseev)
	label-Verified = -1..+1 group user/Yuri Fedoseev (yurifedoseev)
	rebase = group user/Yuri Fedoseev (yurifedoseev)
	removeReviewer = group user/Yuri Fedoseev (yurifedoseev)
	submit = group user/Yuri Fedoseev (yurifedoseev)
[access "refs/heads/*"]
	read = group user/Yuri Fedoseev (yurifedoseev)
	create = group user/Yuri Fedoseev (yurifedoseev)
	push = +force group user/Yuri Fedoseev (yurifedoseev)
	pushMerge = group user/Yuri Fedoseev (yurifedoseev)
[access "refs/tags/*"]
	push = +force group user/Yuri Fedoseev (yurifedoseev)
	pushTag = group user/Yuri Fedoseev (yurifedoseev)
	pushSignedTag = group user/Yuri Fedoseev (yurifedoseev)
